@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Dancing+Script:wght@500&family=League+Gothic&family=Rubik+Moonrocks&family=Titan+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.navbar{
    background-color:rgba(245, 245, 245, 0.61);
    
}
.navhead{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}
.navhead:hover{
  color:rgb(41, 196, 196);
}


.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
      object-fit: cover;
  }

 

.caroheading{
    font-size: 37px;
    color: white;
    font-family: fantasy;
    margin-top: -400px;
     margin-right: 732px;
}
.caroheading:hover{
    color: black;
}
.carobtn{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    color: black;
    background-color: white;
    margin-left: -720px;
}
.carobtn:hover{
    background-color: aquamarine;
}
h4{
    margin-right: 732px;
    font-size: 25px;
}
h4:hover{
    color: rgb(0, 0, 0);
}



  .bg{
      background-color: whitesmoke;
  }

 

.user-review{
text-align: center;
box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
padding-bottom: 50px;
background-color: aliceblue;
height: 400px;

}
.user-review:hover{
    background-color:rgb(195, 228, 228);
}

.user-feedback img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;

}

.revimg{
    height:200px;
    width: 200px;
}


.revh1{
    text-align: center;
    font-size: 35px;
    color: rgb(15, 13, 16);
    font-family: 'Abril Fatface', cursive;
}
.revh1:hover{
    color: aqua;
}



#copyfooter{
    text-align: center;
}

